@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "BonheurRoyal";
  src: url("./assets/fonts/BonheurRoyale-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./assets/fonts/PlayfairDisplay-Regular.ttf");
}

:root {
  --logoFont: "BonheurRoyal", sans-serif;
  --textFont: "PlayfairDisplay", sans-serif;
}

p, a, li, h2, button, label, input {
  font-family: var(--textFont);
}

h1 {
  font-family: var(--logoFont);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

@layer components {
  .custom-link-button {
    @apply inline-flex items-center text-white border border-white py-1 px-5 uppercase z-10 relative bg-transparent;
  }

  .custom-link-button::before {
    content: "";
    @apply bg-white block w-[45px] h-[1px] mr-5;
  }

  .custom-link-button::after {
    content: "";
    @apply bg-[#DDC962] block w-0 h-full right-0 top-0 absolute -z-10 transition-all duration-300 ease-out;
  }

  .custom-link-button:hover {
    @apply text-[#232963] no-underline transition-all duration-300 ease-out;
  }

  .custom-link-button:hover::after {
    @apply w-full transition-all duration-300 ease-out;
  }

  .custom-link-button:hover::before {
    @apply bg-[#232963] transition-all duration-300 ease-out;
  }


}
